
body{
    
    margin-top: 160px;
    margin-left: 260px;
    height: 800px;

   
    
}
.header{
    background-color: white;
   
    

    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    height: 140px;

    border: none;
    box-shadow: 5px 5px 8px -4px  rgba(0,0,0,0.5);

    align-items: center;
}
.first-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    height: 50px;
}
.second-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    margin-right: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.header-buttons{
    
    flex: 1;

    display: flex;
    height: 50px;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 20px;
    
}
.request-button{
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-size: 12px;
}
.donate-button{
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-size: 12px;
}
.edit-button{
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-size: 12px;
}
.appointments-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-size: 12px;
}

.bell-icon{
    height: 30px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 15px;
    cursor: pointer;
}
.mail-icon{
    height: 30px;
    border-radius: 25px;
    margin-right: 50px;
    cursor: pointer;
}
.user-logo{
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.arrow-down{
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.sidebar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    border: none;
    box-shadow: 5px 5px 8px -4px  rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
    margin-top: 140px;
}
.dashboard-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.15);*/
    font-size: 12px;
}
.view-donors-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.15);*/
    font-size: 12px;
}
.view-pending-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
   /* box-shadow: 2px 2px 5px rgba(0,0,0,0.15); */
    font-size: 12px;
}
.donors-current-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
   /* box-shadow: 2px 2px 5px rgba(0,0,0,0.15); */
    font-size: 12px;
}
.emergency-request-button{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
   /* box-shadow: 2px 2px 5px rgba(0,0,0,0.15); */
    font-size: 12px;
}
.drop-down{
    display: flex;
    align-items: center;
    position: relative;
}
.drop-down-container{
    display: none;
    background-color: rgb(237, 236, 236);
    width: 100px;
    position: absolute;
    z-index: 100;
    top: 30px;
    border-style: solid;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
.drop-down-container a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 236, 236);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.drop-down:hover .drop-down-container{
    display: block;
}
.drop-down-container a:hover{
    background-color: rgb(213, 208, 208);
}



.dashboard,.view-donors,.view-pending,
.donors-current,.appointments,.emergency-request,
.request,.donate,.edit,.donor-details,.donor-filtered,.donor-filtered-emergency{
    display: none;
}
.active{
    display: block;
}

/* view-donors*/
.donors-table{
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 1240px;
    min-width: 1000px;
    margin: 50px auto 0 0;
    /*box-shadow: 2px 2px 10px rgba(0,0,0,0.4);*/
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.donors-table thead{
    text-align: left;
}
.donors-table td,
.donors-table th{
    padding: 10px 15px;
}
.donors-table td:first-child{
    border-radius: 10px 0 0 10px;
}
.donors-table td:last-child{
    border-radius: 0 10px 10px 0;
}
.donors-table th:first-child{
    border-radius: 10px 0 0 10px;
}
.donors-table th:last-child{
    border-radius: 0 10px 10px 0;
}
.donors-table tr{
    background-color: rgb(232, 229, 229);
    line-height: 40px;
}
.donors-table thead tr{
    background-color: rgb(173, 171, 171);
}


/* ********************* */


.header-leftpart{
    flex: 1;
    
}
.header-rightpart{
    width: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.search-box{
    width: 775px;
    min-width: 300px;
    margin-left: 50px;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.filter{
    display: flex;
    background-color: rgb(232, 230, 230);
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    width: 600px;

    border-radius: 10px;
}
.sort-button{
    margin-right: 20px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.groupby-button{
    margin-right: 20px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.addnewtask-button{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.donors-flex1{
    display: flex;
    flex-direction: row;
    height: 350px;
    margin-bottom: 20px;;
}
.fingerprint-outerframe{
    background-color: rgb(211, 211, 208);
    width: 410px;
    margin-right: 15px;
    border-radius: 15px;
    display: flex;
}
.fingerprint-innerframe{
    background-color: rgb(239, 242, 243);
    height: 325px;
    flex: 1;
    margin: 10px;
    border-radius: 15px;;
}
.result{
    display: flex;
    flex-direction: row;
    background-color: rgba(235, 237, 235, 0.872);
    flex: 1;
    margin-right: 10px;
    border-radius: 15px;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
}
.predicted-bgp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 223, 223);
    height: 220px;
    flex: 1;
    margin-left: 25px;
}
.blood-gp{
    font-weight: 900;
    font-size: 150px;
}
.donors-flex2{
    display: flex;
    flex-direction: row;
   
    height: 410px;
}
.donor-details,.req-donor-details,.emergency-req-donor-details{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 232);
    width: 400px;
    border-radius: 15px;
    margin-right: 15px;
    padding: 10px;
    padding-top: 30px;
    display: none;
}
.donor-details label,.req-donor-details label,.emergency-req-donor-details label{
    margin-top: 5px;
}
.donor-details input,.req-donor-details input,.emergency-req-donor-details input{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    height: 55px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    
}
.donor-details,.req-donor-details,.emergency-req-donor-details{
    position: relative;
}
.prev-page-icon{
    position: absolute;
    height: 20px;
    top: 5px;
    left: 3px;
    cursor: pointer;
}
.reg-submit-button{
    background-color: rgb(189, 186, 186);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    height: 60px;
    width: 100px;
    margin-left:150px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color:rgb(71, 70, 70);
    padding-top: 8px;
    padding-bottom: 8px;
}
.register-donor,.search-donor,.register-success,.search-donor-emergency{
    background-color: rgb(237, 237, 232);
    width: 400px;
    height: 200px;
    border-radius: 15px;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}
.register-donor label,.search-donor label,.register-success label,.search-donor-emergency label{
    font-weight: 900;
    font-size: 30px;
}
.hospital-inventory{
    background-color: rgb(237, 237, 232);
    flex: 1;
    border-radius: 15px;
    margin-right: 10px;
}
.hospital-inventory p{
    margin-left: 10px;
    font-weight: bold;
}
.compatible-bgp{
    background-color: rgb(237, 237, 232);
    flex: 1;
    border-radius: 15px;
    margin-right: 10px;
}
.compatible-bgp p{
    margin-left: 10px;
    font-weight: bold;
}
.compatible-bgp table{
    
    border-collapse: collapse;
    margin-left: 50px;
    width: 300px;
    
}
.compatible-bgp thead tr{
    height: 0px;
}
.compatible-bgp tr{
    display: block;
    /*margin-bottom: 20px;*/
    height: 25px;
    cursor: pointer;
}
.compatible-bgp tbody tr{
    border-bottom-style: solid;
    border-bottom-color: rgb(137, 136, 136);
    padding-top: 8px;
    padding-bottom: 3px;
}
.compatible-bgp td{
    font-size: 25px;
    font-weight: bold;
    color: rgb(169, 167, 167);
    
}
.activate{
    display: flex;
}


.bloodgp-dropdown{
    height: 60px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pending-delete-button{
    background-color: rgb(140, 68, 68);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}


            
        