<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\css\hemotouch_styles.css">
        <title>HEMOTOUCH</title>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <b>HEMOTOUCH</b>
            </div>
            <div class="header-buttons">
                <button class="header-button bold" onclick="showsection('request'); show_button_bold(this);">REQUEST</button>
                <button class="header-button" onclick="showsection('donate'); show_button_bold(this);">DONATE</button>
                <button class="header-button"  onclick="showsection('view-donors'); view_donors_table(); show_button_bold(this);">VIEW-DONORS</button>
            </div>
        </div>
        <div class="main-content">
            <div class="view-donors">
                <table class="donors-table">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>AGE</th>
                            <th>BLOOD_GROUP</th>
                            <th>DISEASES</th>
                            <th>PHONE_NO</th>
                            <th>ADDRESS</th>
                        </tr>
                    </thead>
                    <tbody id="donor-table"></tbody>
                </table>
            </div>
            <div class="request active">
                <div class="donors-flex1">
                    <div class="fingerprint-outerframe">
                        <div class="fingerprint-innerframe" id="uploadFrame">
                                <p id="uploadText">Click to upload fingerprint</p>
                                <input type="file" id="imageInput" accept="image/*" hidden>
                                <img id="uploadedImage" src="" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="result">
                        <p style="width: 100px;">Detected Blood Group</p>
                        <div class="predicted-bgp"><label class="blood-gp"><P id="disphere"></P></label></div>
                    </div>
                </div>
                <div class="donors-flex2">
                    <div class="hospital-inventory">
                        <p>Hospital Inventory</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>BLOOD GROUP</th>
                                    <th>QUANTITY</th>
                                </tr>
                            </thead>
                            <tbody id="bloodgp-quantity-table">
                            </tbody>
                        </table>
                    </div>
                    <div class="compatible-bgp">
                        <p>Comaptible Blood Groups</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                       
                                    </th>
                                </tr>
                            <thead>
                            <tbody id="compatible-blood-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="donate">
                <div class="donors-flex1">
                    <div class="fingerprint-outerframe">
                        <div class="fingerprint-innerframe" id="uploadFrame2">
                            <p id="uploadText2">Click to upload fingerprint</p>
                                <input type="file" id="imageInput2" accept="image/*" hidden>
                                <img id="uploadedImage2" src="" alt="" style="display: none;">
                        </div>
                    </div>
                    <div class="result">
                        <p style="width: 100px;">Detected Blood Group</p>
                        <div class="predicted-bgp"><label class="blood-gp" id="disphere2"></label></div>
                    </div>
                </div>
                <div class="donors-flex2">
                    <div class="donor-details activate">
                        <div class="donor-details-col">
                            <label>Name</label>
                            <input type="text" id="name" placeholder="name">
                            <label>Age</label>
                            <input type="text" id="age" placeholder="age">
                            <label>Blood Group</label>
                            <select class="bloodgp-dropdown" id="bloodgp-dropdown-don">
                                <option value="" disabled selected>Blood Group</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                        <div class="donor-details-col">
                            <label>Diseases</label>
                            <input type="text" id="diseases" placeholder="disease">
                            <label>Phno</label>
                            <input type="text" id="phno" placeholder="Phno">
                            <label>Address</label>
                            <input type="text" id="address" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button class="reg-submit-button" onclick="validateAndSubmitDonor()">Donate</button>
                </div>
            </div>

            
        </div>
    <script src="static/js/hemotouch.js"></script>
        
    </body>
</html> 